body {
    font-size: 30px;
    background-image: url('../assets/backgrounds/cinematography-symbols-black-background-2.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 980px;
}

#box {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 1%;
    border-radius: 8px;
    width: 500px;
    height: 90%;
    gap: 90px;
    background: rgba(75, 75, 75, 0.2);
    backdrop-filter: blur(15px);

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

#addMovie:hover {
    background-color: #01a61c;
    color: white;
}

#deleteAll:hover {
    background-color: #b30027;
    color: white;
}

#box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#box3 {
    display: flex;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px;
}

.inputBox input {
    border-radius: 8px;
    height: 100px;
    width: 320px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
}

.inputBox textarea {
    border-radius: 8px;
    min-height: 100px;
    width: 320px;
    border: none;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 15px;
}

#box3 {
    display: flex;
    gap: 40px;
}

input[type="file"] {
    display: none;
}

#customBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

#customBtn:hover {
    background-color: #f5a459;
    color: white;
}

#status {
    border-radius: 8px;
    height: 55px;
    width: 330px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
}

#list div {
    display: flex;
    width: 100%;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #727272;
    color: white;
    padding: 12px;
    text-align: cenetr;
}

td {
    background-color: #727272;
    color: white;
    padding: 12px;
    text-align: center;
}

td img {
    width: 80px;
    height: auto;
    border-radius: 4px;
}

td #option {
    text-align: left;
}

.optionButton {
    display: inline ;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.editBtn:hover {
    background-color: #01a61c;
    color: white;
}

.deleteBtn:hover {
    background-color: #b30027;
    color: white;
}